$widthContainer : 598 - 40;
$heightContainer : 537 - 40;

p{
    margin: 0;
}
.container{
    position: fixed;
    width: #{$widthContainer}px;
   
    left: calc(50% - #{$widthContainer/2}px);
    top: calc(50% - #{$heightContainer/2}px);
    background: #FFFFFF;
    box-shadow: rgba(14, 30, 37, 0.22) 300px 300px 300px 900px, rgba(14, 30, 37, 0.22) 300px 300px 300px 300px;
    border-radius: 6px;
    padding: 20px;
    z-index: 111;
}

.closeBtn{
    margin-bottom: 10px;
    text-align: end;
    img{
        width: 16px;
        height: 16px;
    }
}
.closeBtn img:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.header{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 26px;
    color: #383838;
    margin-bottom: 6px;
    text-align: center;
}
.enterEmail{
    text-align: center;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    color: #B0A6BD;
    margin-bottom: 20px;
}
.input{
    margin: 0px 0px 20px 0px; 
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;  
    text-transform: capitalize; 
    color: #7b7582;
    padding: 10px;
    border: 1px solid #DFE1E3;
    width: 378px;
    outline: none;
    border-radius: 4px;
}
.input::placeholder{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;  
    text-transform: capitalize; 
    color: #B0A6BD;
}
.btn{
    width: 398px;
    background: #F5A3B7;
    border-radius: 4px;
    padding: 10px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.btn:hover{
    background: #ffc0cf;
    cursor: pointer;
}
.container_inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.line{
    background-color: #B0A6BD;
    height: 0.5px;
    width: 398px;
    margin-bottom: 20px;
    position: relative;
}
.or{
    margin: 0;
    background-color: white;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: #B0A6BD;
    padding: 0px 10px;
    position: absolute;
    top:-12px;
    left: calc(50% - 19px);
}
.btnContainer{
    position: relative;
    width: 398px;
}
.btnContainer_img{
    width: 24px;
    height: 24px;
    position: absolute;
    top: calc(50% - 10px - 12px);
    left:10px;
}
.btnContainer_btn{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    color: #697586;
    padding: 10px;
    border: 1px solid #B0A6BD;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 398px;
}
.btnContainer_btn:hover{
    cursor: pointer;
    background-color: rgb(241, 241, 241);
}
.recover,.create{
    margin-bottom: 20px;
    display: flex;
}
.recover_item,
.create_item{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    color: #697586;
    margin-right: 5px;
}
.recover_item:hover,
.create_item:hover{
   text-decoration: underline 1.3px rgb(160, 160, 160);


}
