*{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
}
a{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: auto;
    background: url("../../img/first-screen.png") no-repeat ;
    color: #383838;
    margin-bottom: 80px;
}
.container_info{
    padding: 102px 120px;
    max-width: 562px;
}
h1{
    font-weight: 700px;
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 20px;
    line-height: 54px;
}
.container_text{
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 54px;
}
.btn{
    padding: 10px 87px;
    font-weight: 600;
    font-size: 14px;
    background-color: #F5A3B7;
    color: white;
    border-radius: 4px;
}
.btn_center{
    margin: 0 auto;
    text-align: center;
}
.btn:hover{
    background-color: #dd99aa;
}
.middlePart{
    margin-bottom: 80px;
    text-align: center;
}
.middlePart_pics{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,289px);
    column-gap: 20px;
    margin-bottom: 15px;
}
.middlePart_picItem img{
    max-width: 289px;
    max-height: 289px;
    margin-bottom: 15px;
}
.middlePart_text{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    align-items: center;
    text-transform: uppercase;
    color: #383838;
    position: relative;
    .tag{
        color:#F5A3B7;
        font-size: 24px;
    }
}
.middlePart_text::before{
    content: '';
    background: url("../../img/bloom.png") no-repeat;
    display: block;
    height: 13px;
    width: 50px;
    align-items: center;
    position: absolute;
    left: 360px;
    top: calc(50% - 8px);
}
.middlePart_text::after{
    content: '';
    background: url("../../img/bloom\ \(1\).png") no-repeat;
    display: block;
    height: 13px;
    width: 50px;
    align-items: center;
    position: absolute;
    right: 360px;
    top: calc(50% - 8px);

}
.footer{
    background-color: #252525;
    padding: 0px 100px;
}
.footer_topPanel{
    display: flex;
    padding: 40px 0px;
    justify-content: center;
}
.footer_social{
    margin-right: 60px;
    width: 30px;
    height: 30px;
}
.logoBlok_logo:hover{
    transform: scale(1.05);
}
.footer_social:hover{
transform: scale(1.1);
}
.footer_middlePanel{
    display: flex;
    padding-bottom: 30px;
}
.logoBlok{
    max-width: 225px;
    margin-right: 84px;
}
.infoBlok{
    max-width: 582px;
    margin-right: 37px;
}
.signUpBlok{
    max-width: 289x;
}
.logoBlok_text{
    display: flex;
    line-height: 20px;
    color: #FFFFFF;
}
.logoBlok_img{
    margin-right: 12px;
}
.infoBlok{
    display: flex;
}
.infoBlok_item{
 margin-right: 36px;
}
.infoBlok_header{
    font-weight: 500;
    font-size: 16px;   
    text-transform: uppercase; 
    color: #B0A6BD;
    margin-bottom: 10px;
}
.infoBlok_list{
    padding: 0;
    margin: 0;

}
.infoBlok_listItem{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
    color: #FFFFFF;
}
.infoBlok_listItem:hover{
    color:rgb(159, 157, 157)
}
.signUpBlok_header{
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #FFFFFF;
}
.signUpBlok_text{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
    color: #FFFFFF;
}
.signUpBlok_input{
    width: 269px;
    height: 44px;
    border-radius: 4px;
    margin-bottom: 20px;
    display: block;
    padding: 0px 10px;
    outline: transparent;
    border: none;
}
.signUpBlok_input::placeholder{
    font-weight: 400;
    font-size: 16px;
    color: #B0A6BD;
}
.signUpBlok_btn{
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}
.signUpBlok_arrow{
    margin-left: 8px;
    width: 10px;
    height: 6px;
}
.signUpBlok_link{
    display: flex;
    align-items: center;
}
.signUpBlok_link:hover{
    transform: scale(1.01);
    .signUpBlok_arrow{
        transform: translate(5px);
    }
}