.container{
    width: 600px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: rgba(14, 30, 37, 0.22) 300px 300px 300px 900px, rgba(14, 30, 37, 0.22) 300px 300px 300px 300px;
}

input, textarea{
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
    border: 1px solid rgb(205, 205, 205);
    outline: none;
}

input::placeholder,
textarea::placeholder{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    color: #B0A6BD;
}
input[type="date"]{
    color: #B0A6BD;
}
textarea{
    resize: vertical;
    min-height: 100px;
    max-height: 200px;
}
.add{   
    padding: 10px 20px;
    width: 100%;
    margin: 10px auto;
    font-weight: 600;
    font-size: 14px;
    background-color: #F5A3B7;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
}
.add:hover{
    background-color: #dd99aa;
    cursor: pointer;
}
.closeBtn{
    margin-bottom: 10px;
    text-align: end;
    img{
        width: 16px;
        height: 16px;
    }
}
.closeBtn img:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.notAllFields{
    position: fixed;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    border: 1px solid red;
    padding: 40px;
}