.container{
    padding: 30px 120px 60px;
}
.bloks{
    display:grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 20px;
}
.content{
    max-width: 390px;
    margin-bottom: 40px;
}
.header{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #383838;
    text-transform: capitalize;
    margin-bottom: 8px;
    height: 40px;
}
.main_text{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #383838;
    margin-bottom: 8px;
    height: 100px;
}
.btn{
    font-family: 'Poppins';
    font-weight: 500;
    width: 100%;
    font-size: 14px;
    text-transform: capitalize;
    color: #383838;
    padding: 10px;
    border: solid 1px #252525;
    border-radius: 4px;
    text-align: center;
}
.btn:hover{
    cursor: pointer;
    background-color: #f4f4f4;
    border-color: #a0a0a0;
}
.pic{
    width: 390px;
    height: 220px;
    object-fit: cover;
    margin-bottom: 8px;
    border-radius: 6px;
}
.date_info{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    color: #B0A6BD;
    margin-bottom: 10px;
}
.addPostBtn{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    p{
        font-weight: 600;
        font-size: 14px;
        color: #000000;
        text-transform: uppercase;
        padding-left: 20px;
    }

}
.addPostBtn:hover{
    cursor: pointer;
    transform: scale(1.1);
    p{
        color: #7f7f7f;
    }
}

.formContainer{
    position: fixed;
    top: 60px;
    left: calc(50% - 350px);
    background-color: white;
}