@media (max-width:780px){
        .formContainer{
            top: 15%;
            left:15%;
            width: 90%;
        }
}
@media (max-width:455px){
    .pic{
        width: 280px;
        height: auto;
    }
    .content{
        justify-content: center;
        max-width: min-content;
    }
}

