@media (max-width:1230px){
    
        
    }

@media (max-width:780px){
    .priceRange{ 
        margin: 115px 10px 10px 10px;
        max-width: 450px;  
    }
    .product{
        margin-right: 20px;
    }
}

