.main{
    font-family: 'Poppins';
    padding: 0px 10px 100px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(100% - 20px);
    overflow-wrap: break-word;
    
}

.product{
    margin-right: 20px;
    margin-bottom: 50px;
    max-width: 289px;
}

.product:hover{
    cursor: pointer;
    
}
.wrapper{
    overflow: hidden;
}

.product_pic{
    width: 289px;
    height: 289px;
    object-fit: contain;
    transition: all .3s;
}
.product_pic:hover{
    transform: scale(1.15);
    transition: all .3s;
}

.product_header{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #383838;
    margin-bottom: 10px;
    height: 40px;
}

.product_stars{
margin-bottom: 10px;
}
.product_desc{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #697586;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.product_price{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #383838;
    margin-bottom: 10px;
}
.product_btn{
    background: #FFFFFF;
    border-radius: 4px;
    color: #383838;
    border: solid 1px #252525;
    padding: 10px 80px;
    transition: all .3s;
}
.product_btn:hover{
    background: linear-gradient(rgb(199, 199, 199) 10%, rgb(232, 232, 232) , white 100%);
   transform: scale(1.08);
   transition: all .3s;
    cursor: pointer;    
}

.productAdded{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    position: fixed;
    top:0;
    right: 0;
    padding: 20px 60px;
    color:white;
    background-color: rgb(126, 158, 117);
    z-index: 111111;
}

.priceRange{ 
    display: flex;
    margin: 115px 80px 30px 120px;
    max-width: 450px;
    border-radius: 6px;
    box-shadow: rgba(100, 100, 111, 0.12) 0px 7px 29px 0px;
}
.priceRange_div{
    padding: 10px 20px 20px;
}
.priceRange_header{
    font-weight: 500;
    font-size: 14px;;
    text-transform: capitalize;
    color: #383838;
    margin-bottom: 5px;
}
.priceRange_value,
.priceRange_curValue{
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    color: #697586;
    margin-bottom: 10px;
}
.priceRange_btnDiv{
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    
}
.priceRange_apply{
    font-weight: 500;
    font-size: 14px;;
    text-transform: capitalize;
    color: white;
    text-align: center;
    justify-content: center;
    background-color: #f7b8c8;
    border-radius: 10px;
    padding: 10px 30px;
}

.priceRange_apply:hover{
    cursor: pointer;
    background-color: #e5aab8;
}
@import "./ShopAll-media.module.scss"